.food{
    width:100%;
    height:auto;
}
.head{
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.744);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}
a{
    color: #fff;
    text-decoration: none;
}
.food i{
    cursor: pointer;
}

.food .head strong{
    color:#fff;
    background-color: #00000094;
    width: 20px;
    height: 20px;
}