.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30vh 0;
}
.main .goto{
    padding: 8px;
    margin-top: 5px;
    color: #fff;
    background-color:  rgba(0, 0, 255, 0.744);
    cursor: pointer;
}
button a{
    color: #fff;
    text-decoration: none;
}